<!DOCTYPE html>
<html>
<head>
  <title>Carrier</title>
  <%= yield :stylesheets %>
  <script src="/assets/jquery.min.js" type="text/javascript"></script>
  <script src="/assets/rails.js" type="text/javascript"></script> 
  <%= yield :javascripts %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="carrier_wrapper">
    <%= yield %>
  </div>
</body>
</html>
