<div class="errorExplanation" id="errorExplanation">
  <h2><%= t('views.carrier.form_is_not_valid') %></h2>
  <p><%= t('views.carrier.check_following_fields') %></p>
  <ul>
  <% resource.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>   
  <% end %>
  </ul>
</div>
