<%= link_to carrier.collapsed_message_path(message), :remote => true, :id => "message-#{message.id}" do %>   
  <div class="carrier_message_wrapper carrier_open">
    <div class="carrier_message_date"><%= raw message.date_formatted %></div>
    <div class="carrier_message_user"><%= message.sender_name %></div>
    <div class="carrier_message_content"><%= simple_format message.content %></div>
  </div>
<% end %>
