<%= link_to carrier.expanded_message_path(message), :remote => true, :id => "message-#{message.id}" do %>   
  <div class="carrier_message_wrapper carrier_collapse">
    <div class="carrier_message_date"><%= raw message.date_formatted %></div>
    <div class="carrier_message_user"><%= message.sender_name %></div>
    <div class="carrier_message_content">
      <% if unread_messages.include? message %>
      <b class='red'>unread</b>
      <% end %>

      <%= truncate(message.content, :length => 88) %>
    </div>
  </div>
<% end %>
