<div id="carrier">
<div class="carrier_wr">
<%= render :partial => 'head' %>
<%= render :partial => 'nav_messages' %>
<h2><%= t('views.carrier.new_header')%></h2>
  
<div class="ma_wrapper">
  <%= render 'form' %>  
</div>
</div>
</div>
