body {
  
}

/* base typography */

.carrier_wrapper {
  font-family:Tahoma, Arial, Helvetica, sans-serif;
  font-size:0.85em;
  line-height:140%;
}
.carrier_credits {
  font-family:Tahoma, Arial, Helvetica, sans-serif;
  font-size:0.7em;
  line-height:140%;
}

.carrier_wrapper h1,
.carrier_wrapper h2,
.carrier_wrapper h3 {
  font-family:Georgia;
  font-weight:normal;
  color:#000;
}
.carrier_wrapper h1 {
  font-size:3em;
  line-height:100%;
  font-style:italic;
}
.carrier_wrapper h2 {
  font-size:2em;
  line-height:100%;
  font-style:italic;
}
.carrier_wrapper h3 {
  font-size:1.6em;
  line-height:100%;
  font-style:italic;
}

a, a:link, a:visited {text-decoration:none;}

/* structure */

.carrier_wrapper {
  width:80%;
  margin:0 auto;
  min-height:400px;
}

.carrier_nav_line {
  background-color:#ddd;
  padding:10px 30px;
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  padding-bottom:6px;
  margin-bottom:10px;
}
.carrier_nav_line_inner {
  //margin-bottom:-18px;
}
.carrier_new,
.carrier_nav  {
  display:inline-block;
}
.carrier_new a {
  display:inline-block;
  padding:10px 12px;
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  color:#fff;
  background-color:#333;
  font-weight:bold;
}
.carrier_new a:hover {
  color:#000;
  background-color:#fff;
}

.carrier_nav {
  margin:0 10px;
}
.carrier_nav ul { margin:0; padding:0;}
.carrier_nav li{ list-style:none; list-style-type:none; display:inline-block;}
.carrier_nav li a {
  display:inline-block;
  padding:10px 12px;
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  color:#fff;
  background-color:#333;
}
.carrier_nav li a:hover {
  color:#000;
  background-color:#fff;
}
.carrier_nav li.active a,
.carrier_new a.active {
  color:#000;
  background-color:#fff;
  padding-bottom:22px;
  margin-bottom:-18px;
}

.carrier_messagelist {clear:both; margin-top:10px;}

.no_messages {
  font-size: 18px;
  width: 200px;
  margin: 0 auto;
  padding: 40px;
} 
.carrier_message_wrapper {
  padding:12px;
  display:block;
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  background-color:#ddd;
  border:1px solid #ddd;
  margin-bottom:4px;
  color:#000;
}
.carrier_message_wrapper:link, .carrier_message_wrapper:visited {
  background-color:#ddd;  
  color:#000;
}
.carrier_message_wrapper.carrier_has_new {background-color:#eee; border:1px solid #ddd;}
.carrier_message_wrapper:hover,
.carrier_message_wrapper.carrier_open {
  background-color:#fff;
  border:1px solid #ddd;
  color:#000;
}

.carrier_reply_wrapper {
  padding:10px 40px;
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  background-color:#eee;
  color:#000;}
.carrier_reply_wrapper a {
  display:inline-block;
  padding:2px 6px;
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;}
.carrier_reply_wrapper a:link, .carrier_reply_wrapper a:visited {
  background-color:#ddd;  
  color:#000;
}
.carrier_reply_wrapper a:hover {
  background-color:#fff;
  color:#000;
}


.carrier_message_users ,
.carrier_message_branch ,
.carrier_message_body {display:inline-block; margin-right:12px;}

.carrier_message_date {font-size:.7em; float:right;}
.carrier_message_users {}
.carrier_message_user { color:#008080; font-weight:bold;}
.carrier_message_branch {}
.carrier_message_body {}

.carrier_message_subj {}

span.carrier_has_new { font-weight:bold;}

.carrier_message_box_info {
  padding:20px;
}
.carrier_message_archive_chain {
  float:right;
  margin: 0 0 10px 10px;
}
.carrier_message_archive_chain a {
  display:inline-block;
  padding:2px 6px;
  margin: 0 0 0 10px;
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
}
.carrier_message_archive_chain a:link, .carrier_message_archive_chain a:visited {
  color:#fff;
  background-color:#333;
}

.carrier_message_archive_chain a:hover {
  color:#000;
  background-color:#ccc;
}

.carrier_message_new_wrapper {}

.carrier_message_new_wrapper .carrier_message_new_wrapper_1 select.chosen {
  width: 613px;
} 

.carrier_message_new_wrapper .carrier_message_new_wrapper_1 .chzn-container .chzn-choices {
  border:1px solid #ccc;
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
}

.carrier_message_new_wrapper .carrier_message_new_wrapper_1 .chzn-container a {
  padding: 0;
}

.carrier_message_new_wrapper .carrier_message_new_wrapper_2 input[type="text"], 
.carrier_message_new_wrapper .carrier_message_new_wrapper_2 textarea {width:600px;}

.carrier_message_new_wrapper .carrier_message_new_wrapper_2 .actions {
  margin:12px 0;
}

.red {color:Red;}
.carrier_wrapper * a:link, .carrier_wrapper * a:visited {}

.carrier_message_new_wrapper_1 {width:90%;}
.carrier_message_new_wrapper_2 {width:90%;}

.carrier_message_new_wrapper  input[type="text"], 
.carrier_message_new_wrapper  textarea {width:600px;}

.carrier_message_new_wrapper  input[type="text"], 
.carrier_message_new_wrapper  textarea {
  border:1px solid #ccc;
    border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  padding:6px;
}

label {
  font-family: Georgia;
  font-size: 14px;
  font-style: italic;
  font-weight:bold;
  display:inline-block; 
  margin:16px 0 8px 0;}

/* footer */

.carrier_credits {
  width:80%;
  margin:40px auto;
  padding:12px;
  //background-color:#ccc;
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-top:1px solid #ccc;
}

/* collapse  */

.carrier_collapse .carrier_message_user,
.carrier_collapse .carrier_message_content {display:inline-block; vertical-align:top;}
.carrier_collapse .carrier_message_user:after {content:' >'; display:inline-block; font-size:10px; margin:0 10px;}
p {margin:0;}
.carrier_open p, .carrier_open .carrier_message_content {margin:10px 0;}
