<%= link_to carrier.expanded_message_path(message), :remote => true, :class => "message_collapse", :id => "message-#{message.id}" do %>   
  <div class="message_ma_wrapper">
    <div class="message_ma_date"><%= raw message.date_formatted %></div>
    <div class="message_ma_user"><%= message.sender_name %></div>
    <div>
      <% if unread_messages.include? message %>
      <b class='red'>unread</b>
      <% end %>
      <%= raw truncate("%s &raquo; %s" % [message.subject, message.content], :length => 88) %>
    </div>
  </div>
<% end %>
