<div class="messages_ma_messagelist"> 
  <% @messages.each do |message| %>
    <%= render :partial => 'index_message', :locals => {:message => message, :m => (message & unread_messages).size} %>
  <% end if @messages.size > 0 %>
  <%= paginate @messages, :window => 4 %>
</div>  

