<div class="messages_ma_messagelist"> 
  <% @messages.each do |message| %>
    <%= render :partial => 'top_message', :locals => {:message => message} %>
  <% end if @messages.size > 0 %>
  <%= paginate @messages, :window => 4 %>
</div>  

