<div class="messages_ma_wrapper">
  
  <div class="messages_ma_nav_line">
    <h1>Simple Messages</h1>
    <div class="messages_ma_nav_line_inner">  
      <div class="messages_ma_new active">
          <%= link_to 'New', messages_ma.new_message_path %>
      </div>  
      <%= render :partial => 'nav_messages' %>
    </div> 
  </div> 
  
  <h2>New message</h2>
  
  <div class="ma_wrapper">
    <%= render 'form' %>  
  </div>

</div>
