


/* two columns in "new" section  */

.message_ma_new_wrapper_1 {float:left; width:460px;}
.message_ma_new_wrapper_2 {margin-left:490px; height:300px;}

.message_ma_new_wrapper .message_ma_new_wrapper_2 input[type="text"], 
.message_ma_new_wrapper .message_ma_new_wrapper_2 textarea {
  border:1px solid #ccc;
    border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  padding:6px;
}


/* multiselect  */

.ui-multiselect {
    border:none;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
}

.ui-multiselect .ui-widget-header {
  border-radius: 6px 6px 0 0;
  -moz-border-radius: 6px 6px 0 0;
  -webkit-border-radius: 6px 6px 0 0;
}
.ui-multiselect ul {
    border-radius: 0 0 6px 6px;
  -moz-border-radius:  0 0 6px 6px;
  -webkit-border-radius:  0 0 6px 6px;
  
}

.ui-multiselect div.selected {margin-left:2px;}
.ui-multiselect div.selected ul.selected {//border: 1px solid #ccc;}


.ui-multiselect div.available {border:none;}
.ui-multiselect ul.available {background-color:#ccc;}

.ui-multiselect .remove-all {padding: 2px 6px; margin:6px; }
.ui-multiselect .add-all {padding: 2px 6px; margin:6px; }
